<p>Login</p>
<div class="container">
	<div class="row">
		<div class="col-md-6	offset-md-3">
			<form>
				<div class="form-group">
					<label for="nombre">Usuario</label>
					<input 
					  type="text" 
					  class="form-control" 
					  name="usuario"
					  #usuario
					  placeholder="Usuario"> 
				</div>
				<div class="form-group">
					<label for="Imagen	Url">Contraseña</label>
					<input 
					  type="password" 
					  class="form-control" 
					  name="pass"
					  #pass
					  placeholder="Contraseña">
				</div>
				<a class="btn btn-primary" (click)="login(usuario.value,pass.value)">login</a>
				{{mensajeError}}
			</form>
			<a class="btn btn-primary" (click)="logout()" *ngIf="authService.getUser()">Salir</a>
		</div>
	</div>
</div>