<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/destino']">Destinos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/reservas']">Reservas</a>
        </li>
      </ul>
    </div>
</nav>
<app-listado></app-listado>