<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/destino']" routerLinkActive="router-link-active" >Destinos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/reservas']" routerLinkActive="router-link-active" >Reservas</a>
        </li>
      </ul>
    </div>
</nav>
<div class="container">
  <div>
    <p>destino-detalle works!</p>
  </div>
</div>