<div class="container	content">
	<div class="row">
		<div class="col-md-6	offset-md-3">
			<span class="anchor" id="formLogin"></span>
			<!-- form	card	login	with	validation	feedback	-->
			<div class="card	card-outline-secondary">
				<div class="card-header">
					<h3 class="mb-0">Nuevo Destino</h3>
				</div>
				<div class="card-body">
					<app-form-destino (onItemAdded)="agregado($event)"></app-form-destino>
				</div>
			</div>
		</div>
	</div>
	<hr class="mb-5">
	<div class="row">
		<app-destinos-viajes 
		  *ngFor="let i of destinosApiCliente.getAll();" 
		  [destino]='i'
		  (clicked)="elegido($event)">
		</app-destinos-viajes>
	</div>
</div>