<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/destino']">Destinos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/reservas']" routerLinkActive="router-link-active" >Reservas</a>
        </li>
      </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-4">
        <p>reservas-listado works!</p>
        
        <div class="col-4">
          <button class="btn bg-success" [routerLink]="['./id']">Ir a</button>
          <button class="btn bg-success" [routerLink]="['/login']">Login</button> 
        </div>
        </div>
    </div>
</div>
<!-- <div *ngFor="let r of api.getAll()">
  {{r.id}} - {{r.name}}
</div>  -->